.form {
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--color-white);
}

.group {
    margin-bottom: 15px;
}

.input {
    width: 100%;
}

.textarea {
    width: 100%;
}

.imgWrapper {
    position: relative;
    max-width: 400px;
    max-height: 350px;
    margin: 0 auto 20px;
    overflow: hidden;
}

.removeIconWrapper {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color-black);
    border-bottom-left-radius: 10px;
    cursor: pointer;

    img {
        width: 90%;
        height: 90%;
    }
}

.imgPreview {
    display: block;
    width: 100%;
    max-height: 350px;
    object-fit: fill;
}
