.plate {
    padding: 20px 25px;
    border: 1px solid rgba(var(--color-grey--rgb), 0.3);
    background-color: var(--color-white);
    transition: border-color 0.15s ease, transform 0.15s ease;
    &:hover {
        transform: translate3d(1px, -1px, 0);
        border-color: var(--color-light-blue);
        & header {
            border-color: var(--color-light-blue);
            color: var(--color-dark-blue);
        }
    }

    header {
        color: var(--color-black);
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(var(--color-grey--rgb), 0.3);
        transition:
            border-color 0.15s ease,
            color 0.1s ease;
    }

    div {
        padding: 15px 0 0;
        color: var(--color-grey);
    }
}
