.section {
    padding: 40px 0;

    header {
        margin-bottom: 60px;

        h1 {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        p {
            font-size: 18px;
        }
    }
}

.body {
    padding: 60px;
    background-color: #f1f4f5;
}

.row {
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 2px solid var(--color-light-blue);
    padding: 20px;

    &:not(:last-child) {
        border-top: 2px solid var(--color-light-blue);
        // margin-bottom: 20px;
    }

    h5 {
        font-size: 20px;
        font-weight: 500;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 3px;
        color: var(--color-light-blue);
        font-size: 16px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }

        img {
            display: block;
            width: 23px;
            height: 23px;
        }
    }
}

.grade {
    color: green;
    font-size: 20px;
    font-weight: 500;
}

.answerBtn {
    display: flex;
    margin: 25px auto;
    padding: 7px 10px;
    font-size: 14px;
}

.form {
    background-color: var(--color-white);
    padding: 30px;
    max-width: 460px;
    margin: 30px auto 0;
    border: 1px solid rgba(var(--color-grey--rbg), 0.3);
    border-radius: 10px;

    input {
        display: block;
        max-width: 400px;
        width: 100%;
    }
}

.label {
    margin-bottom: 12px;
    font-size: 18px;
}

.formControls {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
        margin: 15px 0 0;
        flex: 1;
        display: flex;
        justify-content: center;
    }
}

.gradeForm {
    
}