@import "/src/assets/styles/mixins.scss";

.input {
    width: 100%;
}

.textarea {
    width: 100%;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    margin-left: auto;
}

.doubleRow {
    margin-bottom: 15px;
    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.scheduleRow {
    margin-top: 15px;
    margin-bottom: 15px;
    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.audienceRow {
    margin-bottom: 15px;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.date {
    width: 100%;
}

.alert {
    margin-bottom: 10px;
}

.row {
    margin-bottom: 15px;
}

.checkboxGroup {
    margin-bottom: 10px;
}
