.post {
    position: relative;
    transition: opacity 0.2s ease;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    img {
        display: block;
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }
    h5 {
        font-family: var(--font-family);
        color: var(--color-black);
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 2px;
    }
    p {
        color: var(--color-grey);
        font-size: 15px;
        line-height: 1.25;
    }
}

.date {
    font-size: 13px;
    color: var(--color-grey);
    font-weight: 600;
}

.deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px;
    z-index: 5;
    width: 30px;
    height: 30px;
    background-color: var(--color-white);
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 1;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
