.deleteBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 1;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
