.section {
    padding: 30px 0;
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creationHeader {
    display: flex;
    margin-bottom: 25px;

    button {
        margin-left: auto;
    }
}
