.footer {
    padding: 30px 0 18px;
    background-color: var(--color-light-blue);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--color-white);
}

.text {
    color: var(--color-white);
    margin-bottom: 10px;
}

.socialList {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
        width: 30px;
        height: 30px;
    }
}

.logo {
    display: block;
    width: 144px;
    height: 20px;
}
