@import "/src/assets/styles/mixins.scss";

.button {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: var(--color-black);
    background-color: rgba(grey, 0.2);
    border-color: #f8f9fa;
    @include mobileMiddle {
        width: 100%;
    }
    &:hover,
    &.active {
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
}
