.textarea {
    display: block;
    height: 8rem;
    padding: 0.75rem;
    color: var(--color-black);
    font-size: var(--font-size);
    font-family: var(--font-roboto);
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--color-grey--rgb), 0.3);
    background-color: var(--color-white);
    transition: border-color 0.15s ease;
    white-space: pre-wrap;
    resize: none;
    &:focus {
        border-color: var(--color-light-blue);
    }
}
