.title {
    color: var(--color-black);
    font-weight: 700;
    &.large {
        font-size: 28px;
    }
    &.middle {
        font-size: 22px;
    }
    &.small {
        font-size: 18px;
    }
}
