.section {
    padding: 30px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 30px;
}

.subsection {
    margin-bottom: 30px;
    p {
        color: var(--color-grey);
        font-size: 18px;
        font-family: var(--font-mont);
        line-height: 1.3;
    }
}

.subsectionTitle {
    font-weight: 400;
    margin-bottom: 15px;
}

.enrolling {
    margin-bottom: 20px;

    h4 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.alert {
    margin-bottom: 15px;
}

.groups {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 15px;

        button {
            padding: 5px 12px;
        }
    }

    h5 {
        color: var(--color-black);
        font-size: 20px;
        font-weight: 500;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    li {
        padding: 10px;
        background-color: rgba(var(--color-grey--rgb), 0.07);
        border: 1px solid rgba(var(--color-grey--rgb), 0.3);
        font-size: 16px;
        font-size: 500;
        text-align: center;
    }
}

.groupForm {
    padding: 15px;
    border: 1px solid rgba(var(--color-grey--rgb), 0.3);
    margin-bottom: 15px;
    border-radius: 10px;

    input {
        width: 100%;
    }

    button {
        padding: 10px;
        width: 100%;
    }
}

.groupField {
    margin-bottom: 10px;
}

.formAlert {
    margin-bottom: 10px;
}
