.checkbox {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid rgba(var(--color-grey--rgb), 0.3);
    background-color: var(--color-white);
    &.checked {
        border-color: var(--color-light-blue);
    }
}

.checkIcon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
